# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
eggs/
build/
.env

# Logs
*.log

# Unit test / coverage reports
.coverage
coverage.xml
.pytest_cache/
tests/

# Virtual environments
venv/

# VS Code
.vscode